<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스의 작동 규칙정의 -->
	<settings>
	  <setting name="cacheEnabled" value="true"/> <!-- mybatis cache 사용 여부 -->
	  <setting name="useGeneratedKeys" value="false"/> <!-- 생성키에 대한 JDBC지원 허용 여부 -->
	  <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 전통적 DB컬럼명을 JAVA의 Camel 표기법으로 자동 매핑 설정 -->
	  <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
</configuration>